# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ball.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\for Unity\Ball\.idea\.idea.Ball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
